section {
    margin-bottom: 30px;
}

h5 {
    margin-bottom: 10px;
}

.navbar{
  border-radius: 0;
}

.nav-link {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: hand;
    cursor: pointer;
}

.badge.badge-primary {
  margin-left: 10px;
  float: right;
}
